<!-- Scrapping this.  Going back later.  Check out routeparams!! -->

<!-- <h2>Base Stats {{character.pokeName}}</h2>

<div>
	<ul style='list-style-type:none;'>
		<li>Max HP: {{character.MaxHP}}</li>
		<li>Speed: {{character.speed}}</li>
		<li>Single Attack: {{character.selectedSingleAttack}} / {{character.singleAttackDamage}}</li>
		<li>Single Defend: {{character.selectedSingleDefend}} / {{character.singleDefendDamage}}</li>
		<li>Multiple Attack: {{character.selectedMultiAttack}} / {{character.multipleAttackDamage}}</li>
		<li>Multiple Defend: {{character.selectedMultiDefend}} / {{character.multipleDefendDamage}}</li>



		<li>Element: {{character.myElement}}</li>
	</ul>
</div>


<button><a href="/basestats">Back button</a></button> -->