<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="/"><img id='homeLogo' src="images/prizmlogo.png" alt="logo"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/matchhistory">View Match History</a></li>
        <li><a href="/basestats">View Base Stats</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Date">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="background-image" ng-style="{'background-image':'url(../images/red_vs_blue.png'}">
<div class="container">
  <div class='header-container'>
    <h1 class='content-title'>LEADERBOARD</h1>
  </div>


<uib-accordion close-others="oneAtATime">
<uib-accordion-group class="accordionList" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" ng-repeat="show in match.matchListing | orderBy:show.match_date" ng-if='!show.match_completion == false' close-others='true'>
<uib-accordion-heading id="accordionHeader">
<div class='col-md-12 john'>
<div class="col-md-6">
  <div class="game-stats-div left-side-border-adjustments"><img width="38px" src="images/right-arrow.png" class="dropdown-button">
    <!-- <div class="game-stats game-end-time">{{show.match_date | date:"MM/dd/yyyy"}}</div> -->
    <div class="game-stats game-teams"><span class="game-text-team-red">Red</span> v <span class="game-text-team-blue">Blue</span>
    </div>

    <!-- Check out tenary operators!!! -->
    <div class="game-stats game-victor"><b>Winner</b>:  
      <span id="winner" class="game-text game-team-winner" ng-class='{bacon : convertColor1(show.winner), sausage : convertColor2(show.winner)}'><b>{{show.winner}}</b></span>
    </div>
    <div class="game-stats game-duration">{{convertSecs(show.match_duration)}}</div>
  </div>
</div>
<div class="col-md-6">
  <div class="game-stats-div-right">
    <div ng-repeat='teamRed in show.Red.pokemon' class='rightSideColumnImages'>
      <img width="30" height="30" ng-src="../images/PokemonAssets/{{teamRed.pokeName}}.png" class="team-images left-side-team">
    </div>
    <div class="text-versus">vs</div>
    <div ng-repeat='teamBlue in show.Blue.pokemon' class='rightSideColumnImages'>
      <img width="30" height="30" ng-src="../images/PokemonAssets/{{teamBlue.pokeName}}.png" class="team-images right-side-team">
    </div>
  </div>
</div>
</div>
</uib-accordion-heading>



<div class="pulldown-menu">
  <div class="col-md-12 displayed-content-listings">
    <div class="col-md-6 team-1 displayed" ng-style="{'background-image':'url(../images/red-background-cover.png'}">
      <ul class="w-list-unstyled list-of-creature-stats">
        <li ng-repeat='pokemonRed in show.Red.pokemon' class="w-clearfix creature-stats team01"><img ng-src="../images/PokemonAssets/{{ pokemonRed.pokeName }}.png" width="27" height="27" alt='{{pokemonRed.pokeName}}' class="displayed-content-creature-thumbnail" />
          <div class="displayed-content-creature-name">{{pokemonRed.pokeName}}</div>
          <div class="displayed-content-creature-score">Kills : {{pokemonRed.total_kills}} / Death : {{pokemonRed.total_death}} / Assists : {{pokemonRed.total_assist}}</div>
        </li>
      </ul>
    </div>
    <div class="col-md-6 team-2 displayed" ng-style="{'background-image':'url(../images/blue-background-cover.png'}">
      <ul class="w-list-unstyled list-of-creature-stats">
        <li ng-repeat='pokemonBlue in show.Blue.pokemon' class="w-clearfix creature-stats team02"><img ng-src="../images/PokemonAssets/{{ pokemonBlue.pokeName }}.png" width="27" height="27" alt='{{pokemonBlue.pokeName}}' class="displayed-content-creature-thumbnail" />
          <div class="displayed-content-creature-name">{{pokemonBlue.pokeName}}</div>
          <div class="displayed-content-creature-score">Kills : {{pokemonBlue.total_kills}} / Death : {{pokemonBlue.total_death}} / Assists : {{pokemonBlue.total_assist}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>

</uib-accordion-group>
</div>
</div>
</uib-accordion>

</div>

</div>
